# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv*/
venv*/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Данные и логи
*.log
catboost_info/
.ipynb_checkpoints/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Прочее
.env
.DS_Store
node_modules/
